@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: .2s ease-in-out;
  font-family: 'Titillium Web', sans-serif;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

   .container {
    @apply m-auto 
  }

  .padding {
    @apply max-lg:px-4 px-8 
  }

  .arrow-direction {
    @apply py-[3px] px-[5px] bg-secondary-color rounded-sm text-3xl cursor-pointer hover:bg-primary-color hover:text-white-color
  }
}


@layer utilities {
  
  .p {
    @apply text-text-color leading-6;
  }
  
  .section {
    @apply pt-16 px-0 pb-8
  }

  .img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .secTitle {
    @apply text-black-color text-xl
  }
  .icon {
    font-size: 25px;
    cursor: pointer;
  }
  .sizeMenu {
    font-size: 25px;
  }
  @media screen and (min-width: 768px){
    .sizeMenu{
      font-size: 30px;
    }
  }

  .sizeClose {
    font-size: 35px;
  }
  .price {
    @apply cursor-pointer py-2 px-4 rounded font-semibold  transition-colors duration-300 ease-in-out
  }

}